*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grey: #ffffff;
    --white: #eaeaea;
}
body{
    padding: 0.5rem;
    height: 100vh;
    background-color: var(--white);
}
.application{
    background-color: white;
    display: flex;
    height: 100%;
}
/*begin sidebar*/
.sidebar{
    flex-basis: 15%;
    height: 100%;
    background-color: var(--grey);
}
.logo{
    padding: 15px;
    text-align: center;
}
hr.solid {
    margin: 0 0 20px 0;
    border-top: 0.5px solid #bbb;
}
.sidebar-element{
    text-align: center;
    padding: 5px;
}
.sidebar-element:hover{
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--white);
}
/*end sidebar*/

/*begin navbar*/
.nav-bar{
    flex-basis: 53px;
}
/*end navbar*/
.content{
    flex-basis: 85%;
    height: 100%;
    background-color: var(--white) ;
}
/*begin le corp*/
.corp{
    padding: 5px;
    height: inherit;
}
.carte{
    height: inherit;
}
.pagination-bar{
    height: 50px;
}
.paginator{
    margin-top: 8px;
}
/*end le corp*/
